<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="ORG" parallel="tests">
    <test name="Test1">
        <parameter name="browser" value="firefox"/>
        <parameter name="version" value="77.0.1"/>
        <parameter name="platform" value="MAC"/>
        <classes>
            <class name="Specs.SpecsBaseClass"/>
        </classes>
    </test> <!-- Test -->
    <test name="Test2">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="83.0.4103.97"/>
        <parameter name="platform" value="MAC"/>
        <classes>
            <class name="Specs.SpecsBaseClass"/>
        </classes>
    </test> <!-- Test -->
    <test name="Test3">
        <parameter name="browser" value="Safari"/>
        <parameter name="version" value="13.0.3"/>
        <parameter name="platform" value="MAC"/>
        <classes>
            <class name="Specs.SpecsBaseClass"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->